[Unit]
Description=Set a unique hostname
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/dynhostname set
ExecReload=/usr/local/sbin/dynhostname set
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
