[Unit]
Description=Run graphite-api as gunicorn service

[Service]
Type=simple
ExecStart=/usr/bin/gunicorn --access-logfile - -b 0.0.0.0:8888 -w 4 graphite_api.app:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
