{
  "sensu": [
    {
      "host": "{{ sensu_server }}",
      "name": "{{ aws_region }}",
      "user": "sensu",
      "pass": "{{ lookup('hashi_vault', 'secret=secret/sensu/api:value') }}"
    }
  ],
  "uchiwa": {
    "port": 3000,
    "usersOptions": {
      "defaultTheme": "uchiwa-dark"
    }
  }
}
