{
  "sensu": [
    {
      "host": "{{ sensu_server }}",
      "name": "{{ aws_region }}"
    }
  ],
  "uchiwa": {
    "port": 3000,
    "usersOptions": {
      "defaultTheme": "uchiwa-dark"
    }
  }
}
