{
  "sensu": [
    {
      "host": "syslog.{{ subd }}",
      "name": "{{ aws_region }}"
    }
  ],
  "uchiwa": {
    "port": 3000,
    "usersOptions": {
      "defaultTheme": "uchiwa-dark"
    },
    "users": [
      {
        "username": "guest",
        "password": "guest",
        "readonly": true
      },
      {
        "username": "root",
        "password": "{crypt}{{ lookup('hashi_vault', 'secret=secret/shadow/sensu' ) }}"
      }
    ]
  }
}
