{
  "rabbitmq": {
    "host": "syslog.{{ subd }}",
    "port": 5672,
    "vhost": "/sensu",
    "user": "sensu",
    "password": "{{ lookup('hashi_vault', 'secret=secret/sensu/rabbitmq:value') }}"
  }
}

