<class>.all.load_avg.<metric> (60) = avg <class>.*.load_avg.<metric>
<class>.all.simta_avg.<metric> (60) = avg <class>.*.simta.<<metric>>
<class>.all.simta.<metric> (60) = sum <class>.*.simta.<<metric>>
