[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ara = {git = "https://github.com/ansible-community/ara",ref = "025a54a07af684e7cda9f02fb0373a5e8cbf2f1b"}
awscli = "*"
boto = "*"
boto3 = "*"
botocore = "*"
cryptography = "*"
dnspython = "*"
netaddr = "*"
paramiko = "*"
PyYAML = "*"
Jinja2 = "*"
PrettyTable = "*"
ansible-core = "<2.14"  # 2.14 requires Python 3.9

[requires]
python_version = "3.8"
