[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ara = {git = "https://github.com/ansible-community/ara",ref = "8eda9c87086a289cf9bf41a2d4cc4060e2d50ad7"}
awscli = "*"
boto = "*"
boto3 = "*"
botocore = "*"
cryptography = "*"
dnspython = "*"
netaddr = "*"
paramiko = "*"
PyYAML = "*"
Jinja2 = "*"
PrettyTable = "*"
ansible-core = "*"

[requires]
python_version = "3.12"
