- tags:
    - dynhostname
  block:
    - ansible.builtin.import_role:
        name: ec2_instance_profile
      vars:
        ec2_profile: dynhostname
        ec2_profile_role: arn:aws:iam::{{ aws_layout[aws_status][aws_profile_subd].account }}:role/{{ aws_resource_prefix }}_{{ subd }}
        ec2_profile_user: root

    - name: Install hostname data files
      ansible.builtin.copy:
        dest: /usr/share/{{ item }}
        src: "{{ lookup('first_found', item ~ '.' ~ aws_status, item) }}"
        owner: root
        group: root
        mode: "0644"
      loop:
        - hostname-prefixes
        - hostname-suffixes
        - hostname-suffixes-authn-relay
        - hostname-suffixes-authz-relay
        - hostname-suffixes-builder
        - hostname-suffixes-mx

    - name: Install script
      ansible.builtin.template:
        dest: /usr/local/sbin/dynhostname
        src: dynhostname.j2
        owner: root
        group: root
        mode: "0755"

    - name: Install check script
      ansible.builtin.copy:
        dest: /usr/local/bin/check-hostname-consistency
        src: check-hostname-consistency
        owner: root
        group: root
        mode: "0755"

    - name: Install systemd unit
      ansible.builtin.copy:
        dest: /etc/systemd/system/dynhostname.service
        src: dynhostname.service
        owner: root
        group: root
        mode: "0644"

    - name: Enable dynhostname
      systemd:
        name: dynhostname
        enabled: true

    - name: Schedule dynhostname public IP re-check
      ansible.builtin.copy:
        dest: /etc/cron.d/dynhostname
        src: dynhostname.cron
        owner: root
        group: root
        mode: "0644"

