[Unit]
Description=The Prometheus alert manager.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecStart=/usr/bin/alertmanager --config.file=/etc/prometheus/alertmanager.yml
Restart=always
WorkingDirectory=/var/lib/prometheus

[Install]
WantedBy=multi-user.target
