#!/bin/bash

name=simta-requeue
confdir={{ comint_base }}/dispatch
workdir=/home/{{ ansible_user }}/simqtmp
lockfile=$workdir/${name}
log="logger -p cron.info -t ${name}[$$]"
startts=$(date +%s)
retval=0

. /usr/libexec/comint/setup

{# bash array syntax conflicts with Jinja2 comments #}{% raw %}

notify() {
    duration=$(( $(date +%s) - startts ))
    msg=$(cat $tmpfile)
    jq -n -r \
        --arg source $(hostname) \
        --arg status $retval \
        --arg duration $duration \
        --arg msg "$msg" \
        '{ name: "simta-requeue", source: $source, ttl: 900, duration: $duration | tonumber, status: $status | tonumber, output: $msg }' | ncat localhost 3030
}

if [[ -f $lockfile ]]; then
    echo "Lockfile $lockfile already exists, exiting" >> $tmpfile
    retval=1
    notify
    cleanup
    exit 1
fi
touch $lockfile
trap 'rm -f $lockfile ; exit 1' 1 2 3 15

readarray -t qhosts < <(ansible --list-hosts 'Class_egress:&Status_production' 2>/dev/null | sed -e '0,/hosts (/d; s/ //g')
[[ ${#qhosts[@]} -eq 0 ]] && echo "List of egress hosts is empty" >> $tmpfile

for qhost in ${qhosts[@]}; do
    [[ -s ${workdir}/{$qhost}.tar ]] && echo "Stale ${workdir}/{$qhost}.tar" >> $tmpfile
done

if [[ -s $tmpfile ]]; then
    echo "Exiting due to errors" >> $tmpfile
    retval=1
    notify
    cleanup
    rm -f $lockfile
    exit 1
fi

for queue in ${workdir}/inbound/* ; do
    [[ -d $queue ]] || continue
    [[ -e ${queue}.lock ]] && continue
    find $queue -type f -name D\* >| ${tmpdir}/msglist
    if [[ -s ${tmpdir}/msglist ]]; then
        split -a1 -d -n l/${#qhosts[@]} ${tmpdir}/msglist ${tmpdir}/msglist-
        for i in "${!qhosts[@]}"; do
            mkdir -p ${workdir}/outbound/${qhosts[$i]}
            sed -e 'p; s/D/E/;' "${tmpdir}/msglist-$i" | xargs -r -I msg mv msg "${workdir}/outbound/${qhosts[$i]}/"
        done
    fi
    rmdir $queue
done

find ${workdir}/outbound -empty -delete

for qhost in ${qhosts[@]}; do
    if [[ -d ${workdir}/outbound/${qhost} ]]; then
        tar -C ${workdir}/outbound/${qhost} --owner=simta --group=mail --mode=0644 -cf ${workdir}/outbound/${qhost}.tar . &>>$tmpfile
        if [[ $? -eq 0 ]]; then
            rm -rf ${workdir}/outbound/${qhost}
            ansible $qhost -m unarchive -a "src=${workdir}/outbound/${qhost}.tar dest=/var/spool/simta/slow extra_opts=--strip-components=1" &>>$tmpfile
            if [[ $? -eq 0 ]]; then
                rm -f ${workdir}/outbound/${qhost}.tar
            else
                retval=1
            fi
        else
            retval=1
        fi
    fi
done

notify
cleanup
rm -f $lockfile
{% endraw %}
