google:

  google-build-fitbitstudy:
    tempfile_suffix: '_googleBuildFitbit'

  google-create-resource:
    tempfile_suffix: '_createResource'

  google-drive-sifter:
    tempfile_suffix: '_driveSifter'
  
  google-drive-transfer:
    tempfile_suffix: '_driveTransfer'
  
  google-login-reporter:
    tempfile_suffix: '_loginReporter'
    sa_client_email: '{{ lookup('hashi_vault', 'secret=secret/google/loginreporter/id') }}'
    sa_private_key: "{{ lookup('hashi_vault', 'secret=secret/google/loginreporter/key') }}"

  gyb-multi-label:
    tempfile_suffix: '_mailTransfer'
    gyb_command: '/home/carleski/testing/gyb.py' 
  
  default:
    gyb_command: '/usr/bin/gyb'
    gam_command: '/usr/bin/gam'
    log_dir: '/var/tmp'
    tempfile_suffix: 'google'
    domain: '@{{ tld }}'
    archive_destination: 'ftp.box.com'
    archive_username: 'its-collab-pyrocumulonimbus@umich.edu'
    archive_password: '{{ lookup('hashi_vault', 'secret=secret/box/its-collab-pyrocumulonimbus') }}'
