discussions:

  default:
    log_facility: local5
    domain: {{ discussionsd }} 
    credentials_file: /home/collaborate/gam-config/{{ discussionsd }}/oauth2service.json
    admin_account: admin-mgoogle@{{ discussionsd }}

google:

{% if aws_status == 'prod' %}
  google-report-logins:
    credentials_file: /home/collaborate/gam-config/umich.edu/loginreportercredentials.json
{% endif %}

  default:
    gyb_command: /usr/bin/gyb
    gam_command: /usr/bin/gam
    credentials_file: /home/collaborate/gam-config/{{ googled }}/oauth2service.json
    log_facility: local5
    domain: {{ googled }}
    admin_account: admin-mgoogle@{{ googled }}
