<VirtualHost *:80>
    ServerName wiki.{{ subd }}
    Redirect permanent / https://wiki.{{ subd }}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ ops_email }}
    ServerName wiki.{{ subd }}
    ErrorLog /var/log/httpd/wiki-error.log
    CustomLog /var/log/httpd/wiki-access.log common
    SSLEngine On
    SSLCertificateFile /etc/pki/collab/private/wiki.{{ subd }}.rsa.crt
    SSLCertificateKeyFile /etc/pki/collab/private/wiki.{{ subd }}.rsa.key
    SSLCertificateFile /etc/pki/collab/private/wiki.{{ subd }}.ecc.crt
    SSLCertificateKeyFile /etc/pki/collab/private/wiki.{{ subd }}.ecc.key
    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    SSLHonorCipherOrder on

    OIDCProviderMetadataURL https://accounts.google.com/.well-known/openid-configuration
    OIDCClientID {{ lookup('flowerysong.hvault.kv', 'google/wiki').id }}
    OIDCClientSecret {{ lookup('flowerysong.hvault.kv', 'google/wiki').secret }}
    OIDCCryptoPassphrase {{ lookup('flowerysong.hvault.kv', 'google/wiki').passphrase }}
    OIDCRedirectURI https://wiki.{{ subd }}/login/google
    OIDCScope "openid email profile"
    OIDCRemoteUserClaim email
    OIDCCacheType file
    OIDCCacheDir /var/cache/httpd/mod_auth_openidc/cache
    OIDCCacheFileCleanInterval 300
    OIDCPreservePost On

    <Location />
        AuthType openid-connect

        <RequireAll>
            Require claim hd:{{ tld }}
            Require user {{ user_accounts | map(attribute='name') | map('regex_replace', '$', '@' ~ tld) | join(' ') }}
        </RequireAll>
    </Location>

    ProxyPass / http://localhost:8087/
</VirtualHost>
