[Unit]
Description=Graphite Carbon Aggregator
After=network.target

[Service]
Type=forking
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/carbon-aggregator --config=/etc/carbon/carbon.conf --pidfile=/var/run/carbon-aggregator.pid --syslog start
ExecReload=/bin/kill -USR1 $MAINPID
PIDFile=/var/run/carbon-aggregator.pid

[Install]
WantedBy=multi-user.target
