#!/bin/dash

if check_tfile && SIMTA_NRCPTS=$(grep -h -c '^R' $SIMTA_TFILE) ; then
    if [ $SIMTA_AUTH_ID ]; then
        export SIMTA_NRCPTS

        if simrbl -q -l ual.dnsal -t $SIMTA_AUTH_ID ; then
            ual=false
        else
            ual=true
        fi

        total=$(/usr/bin/userthrottle -h pink.{{ aws_region }}.{{ subd }} -d umich.edu)

        log "userthrottle: simta_auth_id=$SIMTA_AUTH_ID simta_body_checksum=$SIMTA_BODY_CHECKSUM simta_nrcpts=$SIMTA_NRCPTS ual=$ual id_nrcpts_total=$total"

        if [ "x$ual" = 'xfalse' -a ${total-0} -gt 150 ]; then
            log "90_ut: jailing message"
            filter_exit $MESSAGE_JAIL
        fi
    fi
else
    log "90_ut: Number of recipients not found"
fi

