[duo]
ikey = {{ lookup('hashi_vault', 'secret=secret/{{ ansible_hostname }}/duo/ikey' ) }}
skey = {{ lookup('hashi_vault', 'secret=secret/{{ ansible_hostname }}/duo/skey' ) }}
host = api-d9c5afcf.duosecurity.com
groups = staff
pushinfo = yes
prompts = 3
