[duo]
ikey = {{ lookup('flowerysong.hvault.kv', 'mogo/duo/ikey').value }}
skey = {{ lookup('flowerysong.hvault.kv', 'mogo/duo/skey').value }}
host = api-d9c5afcf.duosecurity.com
groups = staff
pushinfo = yes
prompts = 3
