"{{ item }}" {
    rule {
        expand {
            enabled = false;
        }
        type = ldap;
        ldap {
            search {
                uri = "ldap:///ou=People,dc=umich,dc=edu?*?sub?uid=%25s";
                type = user;
            }
            search {
                uri = "ldap:///ou=user%20Groups,ou=Groups,dc=umich,dc=edu?*?sub?(&(cn=%25s)(!(umichEntryDisabled=TRUE)))";
            }
        }
    }
    deliver {
        local {
            enabled = true;
            agent = /usr/bin/simvacation -f $S $R;
        }
        punt {
            enabled = false;
        }
    }
}
