#!/bin/bash

while getopts i: opt; do
    case $opt in
    i)  ip=$OPTARG
        ;;
    esac
done

[[ $ip ]] || ip=$(curl -fs http://169.254.169.254/latest/meta-data/public-ipv4)
if [[ -z $ip ]]; then
    echo "No IP to check."
    exit 3
fi

retval=0

for bl in \
    all.s5h.net \
    b.barracudacentral.org \
    bl.spameatingmonkey.net \
    cbl.abuseat.org \
    pbl.dnsbl \
    sbl.dnsbl \
    sip.dnsbl \
    sip24.dnsbl \
    xbl.dnsbl \
    ix.dnsbl.manitu.net \
    bl.blocklist.de
do
    if ! simrbl -q -l $bl $ip ; then
        echo "$ip is listed on $bl"
        retval=2
    fi
done

[[ $retval -eq 0 ]] && echo "$ip is clean"
exit $retval
