#!/bin/bash

retval=0

dnsbls=(
    b.barracudacentral.org \
    bl.spamcop.net \
    bl.spameatingmonkey.net \
    blocklistde.dnsbl \
    cbl.abuseat.org \
    ips.backscatterer.org \
    pbl.dnsbl \
    sbl.dnsbl \
    sip.dnsbl \
    sip24.dnsbl \
    xbl.dnsbl \
    zen.dnsbl \
    mx-accept.dnsal \
    mx-deny.dnsbl \
    mx-trust.dnsal \
    penaltybox-skip.dnsal \
    relay-accept.dnsal \
    relay-deny.dnsbl \
    relay-trust.dnsal \
    umnetworks.dnsal
)

for bl in ${dnsbls[@]}
do
    if simrbl -q -l $bl 127.0.0.2 ; then
        echo "$bl does not list 127.0.0.2"
        retval=1
    fi
done

for bl in ${dnsbls[@]}
do
    if ! simrbl -q -l $bl 127.0.0.1 ; then
        echo "$bl lists 127.0.0.1"
        retval=2
    fi
done

[[ $retval -eq 0 ]] && echo "All lists are working properly"

exit $retval
