#!/bin/bash

while getopts i: opt; do
    case $opt in
    i)  ip=$OPTARG
        ;;
    esac
done

if [[ -z $ip ]]; then
    token=$(curl -fs -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 600")
    ip=$(curl -fs -H "X-aws-ec2-metadata-token: $token" http://169.254.169.254/latest/meta-data/public-ipv4)
fi
if [[ -z $ip ]]; then
    echo "No IP to check."
    exit 3
fi

retval=0

for bl in \
    all.s5h.net \
    b.barracudacentral.org \
    bl.spamcop.net \
    bl.spameatingmonkey.net \
    cbl.abuseat.org \
    pbl.dnsbl \
    sbl.dnsbl \
    sip.dnsbl \
    sip24.dnsbl \
    xbl.dnsbl \
    blocklistde.dnsbl
do
    if ! simrbl -q -l $bl $ip ; then
        echo "$ip is listed on $bl"
        retval=2
    fi
done

[[ $retval -eq 0 ]] && echo "$ip is clean"
exit $retval
