#!/bin/bash

retval=0

for bl in \
    mx-accept.dnsal \
    mx-trust.dnsal \
    penaltybox-skip.dnsal \
    umnetworks.dnsal \
    mx-deny.dnsbl \
    relay-accept.dnsal \
    relay-deny.dnsbl
do
    if simrbl -q -l $bl 127.0.0.2 ; then
        echo "$bl does not list 127.0.0.2"
        retval=1
    fi
done

for bl in \
    b.barracudacentral.org \
    bl.spamcop.net \
    cbl.abuseat.org \
    ips.backscatterer.org \
    pbl.dnsbl \
    sbl.dnsbl \
    xbl.dnsbl \
    sip.dnsbl \
    sip24.dnsbl \
    xbl.dnsbl \
    zen.dsnbl \
{% if trendmicro_key is defined %}
    {{ trendmicro_key }}.q.mail-abuse.com \
    {{ trendmicro_key }}.r.mail-abuse.com \
{% endif %}
    bl.spameatingmonkey.net \
    mx-accept.dnsal \
    mx-trust.dnsal \
    penaltybox-skip.dnsal \
    umnetworks.dnsal \
    mx-deny.dnsbl \
    relay-accept.dnsal \
    relay-deny.dnsbl
do
    if ! simrbl -q -l $bl 127.0.0.1 ; then
        echo "$bl lists 127.0.0.1"
        retval=2
    fi
done

[[ $retval -eq 0 ]] && echo "All lists are working properly"

exit $retval
