"{{ item.name }}" deliver {
{% if item.important | default(false) %}
    queue wait {
        max = 5min;
    }
{% endif %}
{% if item.tls | default(false) %}
    tls {
        required = true;
    }
{% endif %}
{% if item.max_rcpts is defined %}
    connection {
        max_rcpts = {{ item.max_rcpts }};
    }
{% endif %}
}
