"{{ item }}" {
{% if not simta_egress %}
    rule {
        type = accept;
        expand {
            enabled = false;
        }
    }
{% endif %}
    deliver {
        bitbucket {
            enabled = true;
        }
    }
}
