"{{ item }}" {
    rule {
        type = accept;
        expand {
            enabled = false;
        }
    }
    deliver {
        local {
            enabled = true;
            agent = /bin/true;
        }
        punt {
            enabled = false;
        }
    }
}
