"{{ item }}" {
    deliver {
        local {
            enabled = true;
            agent = /usr/local/bin/s3_deliver -r $R -d "--s3-bucket datastore.{{ subd }} --s3-region {{ aws_layout[aws_status][aws_profile_s3].region }}";
        }
        punt {
            enabled = false;
        }
    }
}
