<VirtualHost *:80>
    ServerName dashboard.{{ region }}.{{ subd }}
    Redirect permanent / https://dashboard.{{ region }}.{{ subd }}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ ops_email }}
    ServerName dashboard.{{ region }}.{{ subd }}
    ErrorLog /var/log/httpd/dashboard-error.log
    CustomLog /var/log/httpd/dashboard-access.log common
    SSLEngine On
    SSLCertificateFile /etc/pki/collab/private/dashboard.{{ region }}.{{ subd }}.rsa.crt
    SSLCertificateKeyFile /etc/pki/collab/private/dashboard.{{ region }}.{{ subd }}.rsa.key
    SSLCertificateFile /etc/pki/collab/private/dashboard.{{ region }}.{{ subd }}.ecc.crt
    SSLCertificateKeyFile /etc/pki/collab/private/dashboard.{{ region }}.{{ subd }}.ecc.key
    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    SSLHonorCipherOrder on

    <Location />
        ProxyPass http://{{ sensu_server }}:3000/
        ProxyPassReverse http://{{ sensu_server }}:3000/
    </Location>
</VirtualHost>
