<VirtualHost *:80>
    ServerName dashboard.{{ subd }}
    Redirect permanent / https://dashboard.{{ subd }}/
</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ ops_email }}
    ServerName dashboard.{{ subd }}
    ErrorLog /var/log/httpd/dashboard-error.log
    CustomLog /var/log/httpd/dashboard-access.log common
    SSLEngine On
    SSLCertificateFile /etc/pki/collab/private/dashboard.{{ subd }}.crt
    SSLCertificateKeyFile /etc/pki/collab/private/dashboard.{{ subd }}.key
    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    SSLHonorCipherOrder on

    OIDCProviderMetadataURL https://accounts.google.com/.well-known/openid-configuration
    OIDCClientID {{ lookup('hashi_vault', 'secret=secret/google/dashboard/id') }}
    OIDCClientSecret {{ lookup('hashi_vault', 'secret=secret/google/dashboard/secret') }}
    OIDCCryptoPassphrase {{ lookup('hashi_vault', 'secret=secret/google/dashboard/passphrase') }}
    OIDCRedirectURI https://dashboard.{{ subd }}/login/google
    OIDCScope "openid email"
    OIDCAuthRequestParams hd={{ tld }}

    <Location />
        AuthType openid-connect
        Require claim hd:{{ tld }}

        ProxyPass http://syslog.{{ subd }}:3000/
        ProxyPassReverse http://syslog.{{ subd }}:3000/

        RequestHeader set Authorization "Token %{OIDC_CLAIM_email}e"
    </Location>
</VirtualHost>
