apiVersion: 1

providers:
  - name: dashboards
    folder: dashboards
    type: file
    disableDeletion: true
    updateIntervalSeconds: 15
    editable: true
    allowUiUpdates: false
    options:
      path: /var/lib/grafana/dashboards
