apiVersion: 1

datasources:
{% for region in (aws_layout[aws_status] | dict2items | rejectattr('value.controller', 'defined') | map(attribute='value.region')) %}
  - name: {{ region }} InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb.{{ region }}.{{ subd }}:8086
    database: sensu
    jsonData:
      httpMode: GET
{% endfor %}
