apiVersion: 1

datasources:
{% for region in aws_region_layout[aws_status] %}
  - name: {{ region }} InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb.{{ region }}.{{ subd }}:8086
    database: sensu
    jsonData:
      httpMode: GET
{% endfor %}
