<VirtualHost *:80>
    ServerAdmin blackops@{{ tld }}
    ServerName graphs.{{ subd }}
    ErrorLog /var/log/httpd/graphs-error.log
    CustomLog /var/log/httpd/graphs-access.log common

    <Location />
        ProxyPass http://localhost:3001/
        ProxyPassReverse http://localhost:3001/
    </Location>
</VirtualHost>
