global(
    preserveFQDN="on"
    workDirectory="/var/lib/rsyslog"
)

# Receive messages from syslog socket
module(
    load="imuxsock"
    SysSock.Use="on"
    SysSock.RateLimit.Interval="0"
    SysSock.Name="/run/systemd/journal/syslog"
)

# Receive messages from kernel
# The default config says we get these from journald. This is a goddamn lie.
module(
    load="imklog"
    ParseKernelTimestamp="on"
)

$IncludeConfig /etc/rsyslog.d/*.conf

# Traditional blackops /var/log/<facility> files
template(
    name="DynFile"
    type="string"
    string="/var/log/%syslogfacility-text%"
)

{% if rsyslog_verbose == false %}
if $syslogfacility-text != 'mail' or $syslogseverity < 5 then {
{% endif %}
action(
    type="omfile"
    dynaFile="DynFile"
    template="RSYSLOG_FileFormat"
    fileCreateMode="0644"
)
{% if rsyslog_verbose == false %}
}
{% endif %}
