#!/bin/bash

ftp_base="ftp.box.com/IIA%20SMTP%20Captures"
ftp_user=its-collab-pyrocumulonimbus@umich.edu
ftp_passwd={{ lookup('hashi_vault', 'secret=secret/box/its-collab-pyrocumulonimbus:value') }}

tmpdir=/ammit/tmp
retval=0
startts=$(date +%s)

if [ ! -d $tmpdir ]; then
    mkdir $tmpdir
fi

for topdir in /ammit/* ; do
    [[ -d $topdir ]] || continue
    [[ $topdir = $tmpdir ]] && continue
    for dir in $topdir/* ; do
        [[ -d $dir ]] || continue
        [[ $(find $dir -mmin -10 2>/dev/null | wc -l) -gt 0 ]] && continue
        archive=$tmpdir/$(basename $topdir)_$(basename $dir)_${startts}.zip
        zip -r $archive $dir 2>/dev/null
        tries=0
        while [[ $(( tries++ )) -lt 5 ]]; do
            curl -s -T $archive -u $ftp_user:$ftp_passwd --ftp-ssl --ftp-create-dirs "ftp://$ftp_base/$(basename $topdir)/" 2>&1
            curlexit=$?
            [[ $curlexit -eq 0 ]] && break
        done
        if [[ $curlexit -ne 0 ]]; then
            retval=1
            printf -v msg '%s\nFailed to upload archive for %s' "$msg" "$dir"
        else
            printf -v msg '%s\nSuccessfully uploaded archive for %s' "$msg" "$dir"
            rm -rf $dir 2>&1
        fi
    done
    rmdir $topdir
done

if [[ -z "$msg" ]] ; then
    msg="No messages to upload."
fi

find /ammit/tmp -type f -mtime +1 -delete

duration=$(( $(date +%s) - startts ))

jq -n -r \
    --arg source $(hostname) \
    --arg status $retval \
    --arg duration $duration \
    --arg msg "$msg" \
    '{ name: "ammit-upload", source: $source, ttl: 216000, duration: $duration | tonumber, status: $status | tonumber, output: $msg }' | ncat localhost 3030
