module(load="omrelp")

action(
    type="omrelp"
    target="syslog.{{ my_tld }}"
    port="2514"
    template="RSYSLOG_ForwardFormat"
    queue.type="LinkedList"
    queue.filename="forwarding"
    queue.size="99999"
    Action.resumeRetryCount="-1"
    Action.resumeInterval="5"
)

