Host gitlab.umich.edu
    IdentityFile ~/.ssh/id_ed25519.git
    User git

{% for deploykey in query('flowerysong.hvault.list', 'secret/ssh/') | select('match', 'github.') %}
Host {{ deploykey | split('.') | last }}.github.com
    HostName github.com
    IdentityFile ~/.ssh/id_ed25519.{{ deploykey }}
    User git

{% endfor %}
Host *.{{ subd }}
{% for keypair in query('flowerysong.hvault.list', 'secret/ssh/') | select('match', ansible_user) %}
    IdentityFile ~/.ssh/id_ed25519.{{ keypair }}
{% endfor %}
    User {{ ansible_user }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel error

Host *.dsc.umich.edu
    IdentityFile ~/.ssh/id_rsa.{{ tld }}
    User collaborate
