<VirtualHost *:80>
    ServerName {{ ara_hostname }}
    Redirect permanent / https://{{ ara_hostname }}/
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot /home/ara
    ServerAdmin {{ ops_email }}
    ServerName {{ ara_hostname }}
    ErrorLog /var/log/httpd/ara-error.log
    CustomLog /var/log/httpd/ara-access.log common
    SSLEngine On
    SSLCertificateFile /etc/pki/collab/private/{{ ara_hostname }}.crt
    SSLCertificateKeyFile /etc/pki/collab/private/{{ ara_hostname }}.key
    SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    SSLHonorCipherOrder on

    WSGIDaemonProcess ara user=apache group=apache processes=4 threads=1

    SetEnv ARA_WSGI_LOG_ROOT /home/ara

    <Directory "/usr/bin">
        <Files "ara-wsgi-sqlite-custom">
            Require all granted
        </Files>
    </Directory>

    WSGIScriptAliasMatch ^.*/ara-report /usr/bin/ara-wsgi-sqlite-custom
</VirtualHost>
