- tags:
    - seshet
  vars:
    seshet_redis_region: "{{ (aws_layout[aws_status].values() | selectattr('services', 'defined') | selectattr('services', 'contains', 'seshet')).0.region }}"
  block:
    - ansible.builtin.import_role:
        name: geolite2

    - ansible.builtin.import_role:
        name: python_venv
      vars:
        venv_name: seshet
        venv_packages:
          - maxminddb
          - netaddr
          - redis
        venv_wrappers:
          - name: seshet-domains
            target: seshet-domains
          - name: seshet-ips
            target: seshet-ips
          - name: seshet-record-domain
            target: python
            extra_args: /usr/local/venv/seshet/bin/seshet-record-domain
          - name: seshet-record-ip
            target: python
            extra_args: /usr/local/venv/seshet/bin/seshet-record-ip
          - name: seshet-retrieve-domains
            target: python
            extra_args: /usr/local/venv/seshet/bin/seshet-retrieve-domains
          - name: seshet-retrieve-ips
            target: python
            extra_args: /usr/local/venv/seshet/bin/seshet-retrieve-ips

    - name: Install seshet
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /usr/local/venv/seshet/bin/{{ item }}
        owner: root
        group: root
        mode: "0755"
      loop:
        - seshet-domains
        - seshet-ips
        - seshet-record-domain
        - seshet-record-ip
        - seshet-retrieve-domains
        - seshet-retrieve-ips

    - name: Schedule seshet IP recording runs
      cron:
        name: seshet
        minute: "*/5"
        job: seshet-ips -H pink.{{ seshet_redis_region }}.{{ subd }} -d '--heartbeat syslog --s3-bucket datastore.{{ subd }} --s3-region {{ aws_layout[aws_status][aws_profile_s3].region }}'

    - name: Schedule seshet domain recording runs
      cron:
        name: seshet_domain
        minute: "16"
        hour: "0"
        job: seshet-domains -H pink.{{ seshet_redis_region }}.{{ subd }} -d '--heartbeat syslog --s3-bucket datastore.{{ subd }} --s3-region {{ aws_layout[aws_status][aws_profile_s3].region }}'

    - name: Install simta-authn-log-filter
      ansible.builtin.copy:
        src: simta-authn-log-filter
        dest: /usr/local/bin/simta-authn-log-filter
        owner: root
        group: root
        mode: "0755"
