- tags:
    - ec2
    - eip
  delegate_to: localhost
  become: false
  block:
    - delegate_to: localhost
      block:
        - name: Fetch available EIPs
          amazon.aws.ec2_eip_info:
            region: "{{ aws_region }}"
            profile: "{{ aws_profile_ec2 }}"
            filters:
              "tag:Class": "{{ eip_class }}"
          register: eips

        - name: Assign elastic IP
          amazon.aws.ec2_eip:
            region: "{{ region }}"
            profile: "{{ aws_profile_ec2 }}"
            device_id: "{{ instance_id }}"
            public_ip: "{{ (eips.addresses | selectattr('tags.CustomDNSName', '==', tags.CustomDNSName)).0.public_ip }}"
          register: eip

    - name: Wait for elastic IP
      ansible.builtin.wait_for_connection:
        delay: 2
        sleep: 2
        timeout: 300
