[Unit]
Description=Gollum wiki
After=network.target

[Service]
User=gollum
WorkingDirectory=/var/lib/gollum/gollum
ExecStart=/var/lib/gollum/bin/gollum -p 8087 --config /etc/gollum-wiki.rb --allow-uploads dir --emoji --ref main /var/lib/gollum/cia-documentation/

[Install]
WantedBy=multi-user.target
