[Unit]
Description=Set a unique hostname
After=network-online.target cloud-init.service
Wants=network-online.target
Before=rsyslog.service simta.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/dynhostname set
ExecReload=/usr/local/sbin/dynhostname set
ExecStop=/usr/local/sbin/dynhostname clear
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
