[defaults]
gathering = explicit
host_key_checking = False
remote_user = ec2-user
retry_files_enabled = False
inject_facts_as_vars = False
conditional_bare_variables = False
jinja2_native = True
interpreter_python = /usr/local/venv/system/bin/python3
bin_ansible_callbacks = True
pipelining = True

[inventory]
enable_plugins = auto, yaml, ini

[privilege_escalation]
become = True
become_method = sudo
