- hosts: localhost
  become: false
  tasks:
    - ansible.builtin.import_role:
        name: ec2_class_eips
      vars:
        eip_class: relay-egress

    - ansible.builtin.import_role:
        name: ec2_launch
      vars:
        launch_class: relay-egress
        launch_groups:
          - egress
          - redis
        launch_tags:
          redis: 'yes'
        launch_elastic_ip: true

- hosts: Class_relay_egress:&Status_spinup
  tasks:
    - ansible.builtin.meta: end_host
      when: region != aws_region
      tags: always

    # Should already have been assigned by ec2_launch, but we need to be sure.
    - ansible.builtin.import_role:
        name: ec2_eip
      vars:
        eip_class: relay-egress

    - name: Set status to production
      ec2_tag:
        region: "{{ region }}"
        profile: "{{ aws_profile_ec2 }}"
        resource: "{{ instance_id }}"
        tags:
          Status: production
      delegate_to: localhost
      become: false

    - ansible.builtin.import_role:
        name: monitoring_spinup

- hosts: localhost
  become: false
  tasks:
    - ansible.builtin.meta: refresh_inventory

    - ansible.builtin.import_role:
        name: route53_dns_from_inventory
      vars:
        dns_host: relay-egress
        dns_group: Class_relay_egress

    - ansible.builtin.import_role:
         name: redis_coordinator
      tags: redis

    - ansible.builtin.import_role:
        name: route53_dns_from_inventory
      vars:
        dns_host: pink
        dns_group: redis
