[Unit]
Description=Splunk Universal Forwarder
Wants=network.target
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=30s
ExecStart=/opt/splunkforwarder/bin/splunk _internal_launch_under_systemd --accept-license
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=360
LimitNOFILE=65536
SuccessExitStatus=51 52
RestartPreventExitStatus=51
RestartForceExitStatus=52
Delegate=true

[Install]
WantedBy=multi-user.target

