LogSyslog yes
PrivateMirror clamav.{{ subd }}
TestDatabases yes
NotifyClamd /etc/clamd.conf

# Custom databases
{% for db in clamav_custom_sigs %}
DatabaseCustomURL http://clamav.{{ subd }}/{{ db.name }}
{% endfor %}
