{
  "checks": {
    "ec2-unnamed": {
      "command": "{{ sensu_plugin_path }}/check-ec2-filter.rb -r {{ aws_region }} -f '{name:tag:Name,values:[]} {name:instance-state-name,values:[running]}' -o greater -w 1 -c 4",
      "subscribers": [
        "roundrobin:Class_egress"
      ],
      "source": "{{ aws_region }}.aws.amazon.com",
      "interval": 120,
      "timeout": 90,
      "occurrences": 2
    }
  }
}
