{
  "checks": {
    "simta-expansion": {
      "command": "/usr/local/collaboration/check-simta-expansion -g simta.expansion.test@umich.edu -t success@devnull.mail.umich.edu",
      "subscribers": [
        "Class_mx_test"
      ],
      "interval": 60
    }
  }
}
