{
  "checks": {
    "clamav": {
      "command": "{{ sensu_plugin_path }}/check-process.rb -p clamd",
      "subscribers": [
        "Class_mx_test",
        "Class_mx"
      ],
      "interval": 60
    }
  }
}
