{
  "checks": {
    "cert": {
      "command": "{{ sensu_plugin_path }}/check-ssl-host.rb -h :::name::: -p 25 --starttls smtp -w 30 -c 7",
      "subscribers": [
        "roundrobin:Class_egress"
      ],
      "interval": 300,
      "proxy_requests": {
        "client_attributes": {
          "subscriptions": "eval: value.include?'tls'"
        }
      },
      "handler": "fyi"
    }
  }
}
