{
  "checks": {
    "redis": {
      "command": "{{ sensu_plugin_path }}/check-redis-ping.rb",
      "subscribers": [
        "Class_mx",
        "Class_egress"
      ],
      "interval": 60
    },
    "redis-cluster": {
      "command": "/usr/local/collaboration/check-redis-cluster -c pink.{{ subd }}",
      "subscribers": [
        "roundrobin:Class_mx"
      ],
      "source": "pink.{{ subd }}",
      "interval": 60
    }
  }
}
