{% if aws_region == aws_primary_region %}
{
  "checks": {
    "vault-seal": {
      "command": "check-vault-seal",
      "subscribers": [
        "Class_master"
      ],
      "interval": 60
    }
  }
}
{% endif %}
