{
  "checks": {
    "dnsbl": {
      "command": "/usr/local/collaboration/check-dnsbl",
      "subscribers": [
        "Class_egress"
      ],
      "interval": 300,
      "timeout": 240
    },
    "dnsl": {
      "command": "/usr/local/collaboration/check-dnsl",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 300,
      "timeout": 240,
      "aggregate": "dnsl",
      "handle": false
    },
    "dnsl-aggregate": {
      "command": "check-aggregate.rb --age 900 --check dnsl --warning 100 --critical_count 1 --message 'malfunctioning DNS lists'",
      "subscribers": [
        "Class_syslog"
      ],
      "interval": 60
    }
  }
}
