{
  "checks": {
    "box-status": {
      "command": "check-box-status",
      "subscribers": [
        "roundrobin:Class_syslog"
      ],
      "interval": 300,
      "source": "box.com"
    }
  }
}
