{
  "checks": {
    "redis": {
      "command": "check-redis-ping.rb",
      "subscribers": [
        "Class_mx",
        "Class_egress"
      ],
      "occurrences": 2,
      "interval": 60
    },
    "redis-cluster": {
      "command": "/usr/local/collaboration/check-redis-cluster -c :::name:::",
      "subscribers": [
        "roundrobin:Class_egress"
      ],
      "occurrences": 3,
      "interval": 60,
      "proxy_requests": {
        "client_attributes": {
          "subscriptions": "eval: value.include?'Class_redis_cluster'"
        }
      }
    }
  }
}
