{
  "checks": {
    "redis": {
      "command": "{{ sensu_plugin_path }}/check-redis-ping.rb",
      "subscribers": [
        "Class_mx",
        "Class_egress"
      ],
      "interval": 60
    }
  }
}
