{
  "checks": {
    "dnsbl": {
      "command": "check-dnsbl",
      "subscribers": [
        "Class_egress",
        "Class_relay_egress"
      ],
      "interval": 300,
      "timeout": 240
    },
    "dnsl": {
      "command": "check-dnsl",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress",
        "Class_relay_egress",
        "Class_vdc_relay"
      ],
      "interval": 300,
      "timeout": 240,
      "aggregate": "dnsl",
      "handle": false
    },
    "dnsl-aggregate": {
      "command": "check-aggregate.rb --age 900 --check dnsl --warning 100 --critical_count 1 --message 'malfunctioning DNS lists'",
      "subscribers": [
        "roundrobin:Class_syslog"
      ],
      "interval": 60,
      "source": "{{ aws_region }}.aws.amazon.com"
    }
  }
}
