{
  "checks": {
     "cpu-metrics": {
      "type": "metric",
      "command": "metrics-cpu-pcnt-usage.rb",
      "subscribers": [
        "Status_production",
        "Status_development"
      ],
      "handler": "graphite",
      "interval": 30
    },
    "disk": {
      "command": "check-disk-usage.rb -x tmpfs -w 90 -c 95",
      "subscribers": [
        "Status_production",
        "Status_development"
      ],
      "interval": 60,
      "occurrences": 2
    },
    "disk-metrics": {
      "type": "metric",
      "command": "metrics-disk-usage.rb -i ^/dev",
      "subscribers": [
        "Status_production",
        "Status_development"
      ],
      "handler": "graphite",
      "interval": 30
    },
    "load": {
      "command": "check-load.rb -w 30,25,20 -c 35,30,25",
      "subscribers": [
        "Status_production"
      ],
      "interval": 60,
      "occurrences": 30
    },
    "load-metrics": {
      "type": "metric",
      "command": "metrics-load.rb",
      "subscribers": [
        "Status_production",
        "Status_development"
      ],
      "handler": "graphite",
      "interval": 30
    },
    "memory": {
      "command": "check-memory-percent.rb",
      "subscribers": [
        "Status_production"
      ],
      "interval": 60,
      "occurrences": 4
    },
    "memory-metrics": {
      "type": "metric",
      "command": "metrics-memory-percent.rb",
      "subscribers": [
        "Status_production",
        "Status_development"
      ],
      "handler": "graphite",
      "interval": 30
    },
    "network-metrics": {
      "type": "metric",
      "command": "metrics-net.rb",
      "subscribers": [
        "Status_production",
        "Status_development"
      ],
      "handler": "graphite",
      "interval": 30
    }
  }
}
