{
  "checks": {
    "rspamd": {
      "command": "check-process.rb -p rspamd",
      "subscribers": [
        "Class_mx",
        "Class_mx_test"
      ],
      "interval": 60
    },
    "rspamd-greylist": {
      "command": "check-rspamd-greylist",
      "subscribers": [
        "Class_mx",
        "Class_mx_test"
      ],
      "interval": 60,
      "occurrences": 2,
      "dependencies": [
        "rspamd"
      ]
    },
    "rspamd-gtube": {
      "command": "check-rspamd-gtube",
      "subscribers": [
        "Class_mx",
        "Class_mx_test"
      ],
      "interval": 60,
      "occurrences": 2,
      "dependencies": [
        "rspamd"
      ]
    }
  }
}
