{
  "checks": {
    "clamav": {
      "command": "check-process.rb -p clamd",
      "subscribers": [
        "Class_mx_test",
        "Class_mx"
      ],
      "interval": 60
    },
    "clamav-eicar": {
      "command": "check-clamd-eicar",
      "subscribers": [
        "Class_mx_test",
        "Class_mx"
      ],
      "interval": 60,
      "occurrences": 2,
      "dependencies": [
        "clamav"
      ]
    }
  }
}
