{
  "checks": {
    "dnsbl": {
      "command": "/usr/local/collaboration/check-dnsbl",
      "subscribers": [
        "Class_egress"
      ],
      "interval": 300,
      "timeout": 240
    },
    "dnsl": {
      "command": "/usr/local/collaboration/check-dnsl",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 300,
      "timeout": 240,
      "occurrences": 2,
      "refresh": 86400
    }
  }
}
