{
  "checks": {
    "simta": {
      "command": "{{ sensu_plugin_path }}/check-process.rb -p simta",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 60
    },
    "simta-expansion": {
      "command": "/usr/libexec/simta-admin/check-simta-expansion -g simta.expansion.test@umich.edu -t success@devnull.mail.umich.edu",
      "subscribers": [
        "Class_mx_test",
        "Class_mx"
      ],
      "interval": 60
    },
    "simta-queue-fast": {
      "command": "/usr/libexec/simta-admin/check-simta-queue -q fast -w :::extra.simta.fastqwarn|1000::: -c :::extra.simta.fastqmax|2000:::",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 60
    },
    "simta-queue-slow": {
      "command": "/usr/libexec/simta-admin/check-simta-queue -q slow -w :::extra.simta.slowqwarn|100::: -c :::extra.simta.slowqmax|200:::",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 60
    },
    "simta-queue-local": {
      "command": "/usr/libexec/simta-admin/check-simta-queue -q local -w :::extra.simta.localqwarn|100::: -c :::extra.simta.localqmax|20:::",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 60
    },
    "simta-queue-ownership": {
      "command": "/usr/libexec/simta-admin/check-simta-queue-ownership",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 60
    },
    "simta-queue-fast-age": {
      "command": "/usr/libexec/simta-admin/check-simta-queue-age -q fast -a 120 -c 0",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "interval": 300
    },
    "simta-metrics": {
      "type": "metric",
      "command": "/usr/libexec/simta-admin/metrics-simta -l 10",
      "subscribers": [
        "Class_mx_test",
        "Class_mx",
        "Class_egress"
      ],
      "handler": "graphite",
      "interval": 60
    }
  }
}
