{
  "filters": {
    "production": {
      "negate": false,
      "attributes": {
        "client": {
          "subscriptions": "eval: value.include?'Status_production'"
        }
      }
    },
    "critical": {
      "negate": false,
      "attributes": {
        "check": {
          "history": "eval: value.include?'2'"
        }
      }
    },
    "state_change_only": {
      "negate": false,
      "attributes": {
        "occurrences": "eval: value == 1 || ':::action:::' == 'resolve'"
      }
    },
    "bad_hostname": {
      "negate": false,
      "attributes": {
        "client": {
          "name": "eval: value.end_with?'compute.internal'"
        }
      }
    },
    "good_hostname": {
      "negate": true,
      "attributes": {
        "client": {
          "name": "eval: value.end_with?'compute.internal'"
        }
      }
    }
  },
  "handlers": {
    "page": {
      "type": "pipe",
      "command": "handler-sns -r {{ sns_region }} -t oncall",
      "filters": [
        "occurrences",
        "check_dependencies",
        "production",
        "critical",
        "good_hostname"
      ]
    },
    "email": {
      "type": "pipe",
      "command": "handler-sns -r {{ sns_region }} -t rootmail",
      "filters": [
        "occurrences",
        "check_dependencies",
        "good_hostname"
      ]
    },
    "fyi": {
      "type": "pipe",
      "command": "handler-sns -r {{ sns_region }} -t rootmail",
      "filters": [
        "state_change_only",
        "check_dependencies"
      ]
    },
    "kill_bad_clients": {
      "type": "pipe",
      "command": "handler-sensu-deregister.rb",
      "filters": [
        "bad_hostname"
      ]
    },
    "graphite": {
      "type": "tcp",
      "timeout": 30,
      "socket": {
        "host": "127.0.0.1",
        "port": 2003
      },
      "mutator": "only_check_output"
    },
    "default": {
      "type": "set",
      "handlers": [
        "page",
        "email",
        "kill_bad_clients"
      ]
    }
  }
}
