- tags:
    - vault
    - testing
  block:
    - name: Disable vault backup
      cron:
        name: ansible-backup-vault
        user: "{{ ansible_user }}"
        state: absent
      when: "'vault' in aws_layout[aws_status][aws_profile_ec2].services"

    - when: "'vault' not in aws_layout[aws_status][aws_profile_ec2].services"
      block:
        - name: Create /home/vault
          ansible.builtin.file:
            dest: /home/vault
            state: directory
            owner: root
            group: root
            mode: 0755

        - name: Schedule cron job to back up vault from primary
          cron:
            name: ansible-backup-vault
            user: "{{ ansible_user }}"
            minute: 43
            hour: 12
            job: ssh {{ (aws_layout[aws_status] | dict2items | selectattr('value.services', 'defined') | selectattr('value.services', 'contains', 'vault')).0.value.clases.bastion.hostnames.0 }}.{{ subd }} 'sudo tar -C /home/vault -cf - .' | sudo tar -C /home/vault -x --unlink-first --recursive-unlink
