#!/bin/bash
# config for spamassassin rule updates

update_host=spamassassin@{{ master_hostname }}.{{ subd }}
rule_dir=/var/lib/spamassassin/
ssh_key=/var/spool/simta/.ssh/id_rsa

# number of times to attempt a sync
tries=5

# how long to sleep between failed attempts
sleep=15

