#!/bin/bash

{% for var in (item.wrapper_environment | default([])) %}
export {{ var.name }}={{ var.value }}
{% endfor %}
{{ venv_user.home }}/{{ venv_name }}/bin/{{ item.target | default(item.name) }} {{ item.extra_args | default('') }} "$@"
